.register-wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.register-card {
    background-color: #1a1a1a;
    border-radius: 20px;
}

.img-item {
    width: 150px;
    height: 100px;
    border-radius: 20px;

}
  